{% extends "base.html" %}

{% load static %}
{%  block content %}

        <!-- main image slider container -->
        <div class="slide-window">
            <div class="slide-wrapper" style="width:300%;">
                <div class="slide">
                    <div class="slide-caption text-center">
                        <p class="text-uppercase">The right choice</p>
                        <h3 class="text-uppercase">Improving agriculture, improving lives.</h3>
                        <div class="cont-btn">
                            <a class="btn text-uppercase" href="contact.html">
                            Contact</a>
                        </div>

                    </div>
                </div>
                <div class="slide slide2">
                    <div class="slide-caption text-center">
                        <p class="text-uppercase">Ready to go</p>
                        <h3 class="text-uppercase">High tech advantages with old fashioned service.</h3>
                        <div class="cont-btn">
                            <a class="btn text-uppercase" href="contact.html">
                            Contact</a>
                        </div>

                    </div>
                </div>
                <div class="slide slide3">
                    <div class="slide-caption text-center">
                        <p class="text-uppercase">The right choice.</p>
                        <h3 class="text-uppercase">Improving agriculture, improving lives.</h3>
                        <div class="cont-btn">
                            <a class="btn text-uppercase" href="contact.html">
                            Contact</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slide-controller">
                <div class="slide-control-left">
                    <div class="slide-control-line"></div>
                    <div class="slide-control-line"></div>
                </div>
                <div class="slide-control-right">
                    <div class="slide-control-line"></div>
                    <div class="slide-control-line"></div>
                </div>
            </div>
        </div>
        <!-- main image slider container -->
    </div>
    <!-- end of main image slider container -->

    <!-- banner-bottom-w3layouts -->
    <div class="banner-bottom-w3layouts py-lg-2 py-2">
        <div class="container">
            <div class="inner-sec-w3ls-agileits py-lg-2 py-2">
                <h4 class="sub-tittle text-uppercase text-center">What we do</h4>
                <h3 class="tittle text-left mb-lg-2 mb-2">
                            </h3>
                <ul class="grid cs-style-5 row">
                    <li class="grid-info-img">

                        <figure>
                        	<h3>Farmers</h3>
                            <img src="{% static 'images/g3.jpg' %}" class="img-fluid" alt="img03">
                            <figcaption>
                                <h3>Farmers</h3>

                               <a href="{% url "farmer:farmer" %}">Select</a>

                               <a href=#>Select</a>

                            </figcaption>
                        </figure>
                    </li>
                    <li class="grid-info-img">
                        <figure>
                        	<h3>Household</h3>
                            <img src="{% static 'images/g5.jpg' %}" class="img-fluid" alt="img03">
                            <figcaption>
                                <h3>Household</h3>

                                <a href="gallery.html">Select</a>
                            </figcaption>
                        </figure>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!--// banner-bottom-w3layouts -->
    <!-- /bottom-last -->
    <section class="bottom-last">
        <div class="bottom-bg py-5 bs-slider-overlay text-left">
            <div class="container">
                <h3 class="tittle text-left"> WHAT WE OFFER</h3>
                <p class="text-white mb-4">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet.</p>
                <div class="log-in pb-md-5 pb-3">
                    <a class="hover-2 btn text-uppercase" href="single.html">Read More</a>
                </div>
            </div>

        </div>
    </section>
    <!-- //bottom-last -->
    <!-- ab -->

    <!--/team-->
    <section class="tean-sec py-md-5 py-3" id="team">
        <div class="container">
            <div class="inner-sec-w3ls-agileits py-md-5 py-3">
                <h4 class="sub-tittle text-uppercase text-center">Meet our Team</h4>
                <h3 class="tittle text-center mb-md-5 mb-4">Farmers who love their work</h3>
                <div class="row mb-3">
                    <div class="col-lg-3 team-info">
                        <div class="our-team">
                            <div class="pic">
                                <img src="images/team1.jpg' %}" class="img-fluid" alt="" />

                            </div>
                            <div class="team-content">
                                <h3>Nathan Smith</h3>
                                <span class="post">Agronomist</span>
                            </div>
                            <ul class="social">
                                <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 team-info">
                        <div class="our-team active">
                            <div class="pic">
                                <img src="images/team2.jpg' %}" class="img-fluid" alt="" />

                            </div>
                            <div class="team-content">
                                <h3>Laura Palmer</h3>
                                <span class="post">Agronomist</span>
                            </div>
                            <ul class="social">
                                <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 team-info">
                        <div class="our-team">
                            <div class="pic">
                                <img src="{% static 'images/team3.jpg' %}" class="img-fluid" alt="" />
                            </div>
                            <div class="team-content">
                                <h3>Joe Carter</h3>
                                <span class="post">Agronomist </span>
                            </div>
                            <ul class="social">
                                <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 team-info">
                        <div class="our-team">
                            <div class="pic">
                                <img src="{% static 'images/team4.' %}" class="img-fluid" alt="" />
                            </div>
                            <div class="team-content">
                                <h3>Melissa Cox</h3>
                                <span class="post"> Agronomist </span>
                                <ul class="social">
                                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>




                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //team -->
    <!-- /story -->
    <section class="freebies bg-light pt-md-5 pt-3">
        <div class="container freebies-intro pt-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="sub-tittle text-uppercase">Our Events</h4>
                    <h3 class="tittle">Latest News</h3>
                </div>
            </div>
            <div class="row mt-4 mt-3">
                <div class="col-md-6 news-content-left">
                    <p>Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
                </div>
                <div class="col-md-6 news-content-right">
                    <p>Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 news-grid">
                    <article class="item news fadeIn">
                        <figure class="news-overlay">
                            <figcaption class="overlay">
                                <div class="like-share-wrapper">
                                    <ul>
                                        <li>
                                            <div class="like-button-wrapper">
                                                <a href="#" class="like_button"><i class="far fa-heart"></i></a>
                                                <span class="count">98</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="freebie-content">
                                    <span class="date">13/05/2018</span>
                                    <h4>About the Trend</h4>
                                    <div class="group log-in">
                                        <a class="hover-2 btn text-uppercase" href="single.html">Read More</a>
                                    </div>
                                </div>
                            </figcaption>
                            <img src="{% static 'images/n1.jpg' %}" class="img-fluid" alt="img03">
                        </figure>
                    </article>
                </div>
                <div class="col-md-6 news-grid">
                    <article class="item news fadeIn">
                        <figure class="news-overlay">
                            <figcaption class="overlay">
                                <div class="like-share-wrapper">
                                    <ul>
                                        <li>
                                            <div class="like-button-wrapper">
                                                <a href="#" class="like_button"><i class="far fa-heart"></i></a>
                                                <span class="count">57</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="freebie-content">
                                    <span class="date">30/05/2018</span>
                                    <h4>Latest News</h4>
                                    <div class="group log-in">
                                        <a class="hover-2 btn text-uppercase" href="single.html">Read More</a>
                                    </div>
                                </div>
                            </figcaption>
                            <img src="{% static 'images/n3.jpg' %}" class="img-fluid" alt="img03">
                        </figure>
                    </article>
                </div>

            </div>
        </div>
    </section>
    <!-- //story -->
    <!--/testimonials-->
    <section class="clients py-md-5 py-3" id="clients">
        <div class="container">
            <div class="inner-sec-w3ls-agileits py-md-5 py-3">
                <h4 class="sub-tittle text-uppercase text-center">Lovely Clients</h4>
                <h3 class="tittle text-center mb-md-5 mb-4">Testimonials</h3>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="feedback-info text-left">
                            <div class="feedback-top">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.Simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="{% static 'images/t1.jpg' %}" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Mary Jane</h5>
                                    <p>United States
                                        <span>(Company)</span>
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info text-left">

                            <div class="feedback-top">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.Simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="{% static 'images/t3.jpg' %}" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Steven Wilson</h5>
                                    <p>United States
                                        <span>(Company)</span>
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info text-left">
                            <div class="feedback-top">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.Simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="{% static 'images/t2.jpg' %}" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Peter guptill</h5>
                                    <p>Vestibulum <span>(Company)</span></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info text-left">

                            <div class="feedback-top">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.Simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="{% static 'images/t3.jpg' %}" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Steven Wilson</h5>
                                    <p>United States
                                        <span>(Company)</span>
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--//testimonials-->
    <!-- /newsletter-->
    {%  endblock %}
